*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

.container{
    display: flex;
    width: 90%;
    margin: 0 auto;
    margin-bottom: 80px;
}

/*NAV START HERE*/

nav.main-menu {
    background-color: rgb(247 98 30);
}

.logo-area {
    width: 8%;
}

img.logo-img {
    max-width: 100%;
}

.menu-area {
    width: 90%;
    text-align: right;
}

.menu-area li {
    list-style: none;
    display: inline;
}

a.nav-item {
    text-decoration: none;
    margin: 0px 10px;
    padding: 26px;
    line-height: 67px;
    color: white;
    font-size: 18px;
    font-weight: 500;
}

/*DIET AREA START HERE*/

.content-area {
    margin-top: 130px;
    width: 40%;
    margin-right: 5%;
}

h1.title {
    font-size: 45px;
    margin: 20px 0;
    color: #404040;
}

span.colorful-text {
    color: rgb(247 98 30);
}

p.description {
    font-size: 17px;
    font-weight: 300;
    word-spacing: 3px;
    margin: 5px 0;
}

a.link-button {
    text-decoration: none;
    color: white;
    background-image: linear-gradient(to left, chocolate, orange);
    padding: 10px 20px;
    display: inline-block;
    border-radius: 10px;
    margin-top: 15px;
}

.image-area {
    width: 45%;
    margin-left: 5%;
}

img.image {
    max-width: 90%;
}

/*ABOUT ME START HERE*/

.about-me{
    background-image: url(images/7.png);
    background-repeat: no-repeat;
    background-size: contain;
    padding: 2%;
}

img.about-image {
    max-width: 60%;
}

h1.about-title {
    font-size: 40px;
    margin-bottom: 40px;
}

.about-link-btn {
    margin-top: 40px !important;
}

/*MY RECIPIE START HERE*/

.recipie-item {
    width: 30%;
    margin: 2%;
    border-radius: 5%;
    padding: 2%;
    box-shadow: 10px 10px 20px 5px #e4dede;
}

.recipie-img {
    width: 100%;
}

.recipie-img img {max-width: 100%;}

h2.recipie-item-title {
    font-size: 24px;
    margin: 6% 0;
}

p.recipie-description {
    font-size: 17px;
    font-weight: 100;
}

h1.recipie-title, .testimonial-title {
    text-align: center;
    font-size: 40px;
    margin: 2% 0;
}

p.recipie-title-description, .testimonial-description {
    width: 37%;
    margin: 0 auto;
    text-align: center;
    font-size: 15px;
    font-weight: 100;
    line-height: 25px;
}

/*TESTIMONIAL START HERE*/

.author-details {
    width: 25%;
    position: absolute;
    top: 67%;
    right: 35%;
    transform: translateX(50%);
}

img.author-img {
    max-width: 60%;
    border-radius: 50%;
    border: 2px solid white;
    box-shadow: 5px 5px 10px 5px #bfb9b9;
}

h3.author-name {
    font-size: 22px;
    padding: 2%;
    margin: 3% 0%;
    text-align: center;
    color: chocolate;
}

.customer-quote {
    font-size: 16px;
    font-weight: 400;
    text-align: justify;
    padding: 10%;
    margin: 5% 0;
    border: 1px solid #e6e0e0;
    border-radius: 10px;
    box-shadow: 5px 5px 20px 5px #ada8a8;
}

.testimonial-item {
    padding: 2%;
    position: relative;
}

/*SOCIAL SUBSCRIBER START HERE*/

.follwers{
    border: 1px solid #d8d8d8;
    border-radius: 10px;
    margin-top:100px;
    box-shadow: 5px 5px 20px 5px #ada8a8;
}

.social-followers {
    display: flex;
    width: 75%;
    margin: 0px auto;
    padding: 30px;
}

.specific-item-followers {
    margin: 20px 80px;
    text-align: center;
}

h1.followers-amount {
    font-size: 40px;
    font-weight: 900;
    margin: 6% 0px;
}

span.social-media-name {
    font-size: 16px;
    font-weight: 100;
    padding: 0 2px;
}

/*FOOTER START HERE*/

footer.footer-area {
    background-color: #3a3535;
    text-align: center;
    padding: 3% 0;
    color: wheat;
}

h1.footer-title {
    font-size: 24px;
    margin-bottom: 25px;
}

.footer-description {
    color: #dcd5d5;
    font-weight: 300;
    font-size: 15px;
}

